<div style="margin: 5%">
  <div style="float: right;"><a routerLink="/">Home</a></div>
  <div *ngIf="authService.user.is_authenticated">
    <div>Welcome {{ authService.user.username }}</div>
    <button (click)="logout()">Logout</button>
    <button (click)="getUsers()">Get Users</button>
    <button (click)="refreshToken()">Refresh Token</button>
  </div>
  <div *ngIf="!authService.user.is_authenticated">
    <button (click)="login()" >Login</button>
  </div>
  <div *ngIf="socialUser == null">
    <button (click)="signInWithGoogle()">Sign-in with Google</button>
  </div>
  <div *ngIf="socialUser != null">
    <button (click)="signOut()">Sign-out</button>
    <button (click)="getUsers()">Get Users</button>
  </div>
  <h3>Products:</h3>
  <div class="card-container">
    <div *ngFor="let product of products" class="card" (click)="selectProduct(product.url)">
      {{ product.name }}
    </div>
  </div>
</div>

<router-outlet></router-outlet>
